#files that could contain the token
out/
TOKEN

#files involved with emacs or caches
*~
*#
*__pycache__*

#sometimes I use pycharm, but I don't really want to commit my .idea-related stuff, since I don't always use pycharm.
.idea/
